# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

build/
dist/

stats.json
app/public/js/app.js
app/public/js/app.js.map
flow-typed
yarn-error.log

# localhost HTTPS
.*.key
.*.cert

.env
.env.*
secrets.tar
api/coverage
app/coverage

.tmp
.temp
.docz

# un-ignore
!.env.example
.localstack
.cache
