{
	"presets": ["@babel/preset-flow", "@babel/preset-env"],
	"plugins": [
		[
			"babel-plugin-module-resolver",
			{
				"root": ["../"],
				"alias": {
					"Api": "./api"
				},
				"cwd": "babelrc"
			}
		],
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread"
	]
}
